* {
    box-sizing: border-box;
}

@font-face {
    font-family: Oswald Bold;
    src: url(/fonts/Oswald-Bold.ttf) format('truetype');
}

@font-face {
    font-family: Oswald ExtraLight;
    src: url(/fonts/Oswald-Extra-Light.ttf) format('truetype');
}

@font-face {
    font-family: Oswald Light;
    src: url(/fonts/Oswald-Light.ttf) format('truetype');
}

@font-face {
    font-family: Oswald Medium;
    src: url(/fonts/Oswald-Medium.ttf) format('truetype');
}

@font-face {
    font-family: Oswald Regular;
    src: url(/fonts/Oswald-Regular.ttf) format('truetype');
}

@font-face {
    font-family: Oswald SemiBold;
    src: url(/fonts/Oswald-SemiBold.ttf) format('truetype');
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: Oswald Regular;
}

.ff-bold{
    font-family: Oswald Bold;
}
.ff-extralight{
    font-family: Oswald ExtraLight;
}
.ff-light{
    font-family: Oswald Light;
}
.ff-medium{
    font-family: Oswald Medium;
}
.ff-regular{
    font-family: Oswald Regular;
}
.ff-semibold{
    font-family: Oswald SemiBold;
}

.bg-my-black{
    background-color: #252323;
}
.my-black{
    color: #252323;
}

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #264653 50%, #2A9D8F 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position: absolute;
    right:-50%;
    top:0;
    z-index:0;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }
  
  @keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
  }

  .fs12{
      font-size: 12rem;
  }